<nav class="navbar navbar-light navbar-expand-md sticky-left">
 <%=debug session[:cart]%>
  <details open>
    <summary>Shopping Cart</summary>
      <%if @cart.empty? %>
        <h6 class="text-muted">No item yet</h6>
      <%else%>
        <ul>
          <% @cart.each do |game|%>
            <li><%=game.name%>   <%=format_price(game.price)%> <%=link_to "X", remove_form_cart_path(game.id), method: :delete, class: "btn btn-outline-primary"%></li>
          <%end%>
          <li>Clear button <%=button_to "Check out",
                create_checkout_session_path,
                remote: true,
                method: :post,
                params: {id: @cart_ids},
                class: 'btn btn-primary mb-3 pr-2',
                data: {disable_with: "Loading..."}%></li>
        </ul>
      <%end%>
    </summary>
  </details>
</nav>
