<%# <h1 class="hero-title text-center">Games </h1> %>
<section class="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
    <%@games.each do |game|%>
    <div class="col mb-4">
      <div class="card border-dark h-100">
        <%= image_tag('elder-ring.jpg', class: "thumbnail card-img top", alt: "Elder Ring") %>

        <div class="card-body">

          <h5 class="text-center"><%=game.name%></h5>

          <div class='d-flex justify-content-between'> 
            <h6 class="text-muted"><%=format_condition(game.condition)%></h6>
            <h5><%=format_price(game.price)%></h5>
          </div>

          <div class='d-flex justify-content-between'>
            <h6 class="text-muted"><%=game.platform.name%></h6>
            <%=link_to "Detail", game_path(game.id), class: "btn btn-outline-primary"%>
          </div>

        </div>
      </div>
    </div>
    <%end%>
  </div>

</section>