<section class="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
    <%@games.each do |game|%>
    <div class="col mb-4">
      <div class="card border-dark h-100">
        <%if game.picture.attached?%>
          <%= image_tag game.picture, alt: game.name, class: "thumbnail card-img top"%>
        <%else%>
          <%= image_tag "elder-ring.jpg", alt: game.name, class: "thumbnail card-img top"%>      
        <%end%>

        <div class="card-body">

          <h5 class="text-center"><%=game.name%></h5>

          <%game.features.each do |feature|%>
            <span class='badge badge-pill badge-primary'><%=feature.name%></span>
          <%end%>

          <div class='d-flex justify-content-between'> 
            <h6 class="text-muted"><%=format_condition(game.condition)%></h6>
            <h6 class="text-muted"><%=game.platform.name%></h6>
          </div>

          <div class='d-flex justify-content-between'>
            <h5><%=format_price(game.price)%></h5>
            <%=link_to "Detail", game_path(game.id), class: "btn btn-primary"%>
          </div>

          <div class='d-flex justify-content-between'>
            <%if @cart.include?(game)%>
              <%= button_to "remove from cart", remove_form_cart_path(game.id), method: :delete, class: 'btn btn-danger mb-3 pr-2'%></button>
            <%else%>
              <%=button_to "Buy",
                create_checkout_session_path,
                remote: true,
                method: :post,
                params: {id: [game.id]},
                class: 'btn btn-warning mb-3 pr-2',
                data: {disable_with: "Loading..."}%>
              <%=button_to "Add to cart", add_to_cart_path(game.id), method: :post, class: 'btn btn-danger mb-3 pr-2'%>
            <%end%>
          </div> 

        </div>
      </div>
    </div>
    <%end%>
  </div>

</section>