<section class='container d-flex flex-column flex-md-row px-2 my-2 my-md-5'>
  <div class='content col-12 col-md-7 col-lg-8 p-0 pr-md-3'>
    <div class='col-12 p-0 main-preview mb-4'>
      <%if @game.picture.attached?%>
        <%= image_tag @game.picture, alt: @game.name, class: "thumbnail card-img top"%>
      <%else%>
        <%= image_tag "elder-ring.jpg", alt: @game.name, class: "thumbnail card-img top"%>      
      <%end%>
    </div>
  </div>

  <div class='sidebar col-lg-4 p-0 mx-2 d-md-block'>
    <h2 class='mb-sm-2 mb-md-5'><%=@game.name%><h2>
    <h5 class='text-muted'><%=@game.platform.name%></h5>
    <h5 class='text-muted'><%=format_condition(@game.condition)%></h5>
    <h5 class='text'>Price: <%=format_price(@game.price)%></h5>
    <h6 class='text-muted'>Description: </h6>
    <p class='text-muted'><%=@game.description%></p>
    <div class='container'>
      <%if current_user && current_user.id == @game.user_id%>
        <%= link_to "Edit", edit_game_path(@game.id), class: "btn btn-warning mr-2"%>
        <%= link_to "Delete", @game, method: :delete, data: {confirm: "Are you sure you want delete #{@game.name}?"}, class: "btn btn-danger mr-2"%>
      <%else%>

      <%end%>
    </div>
  </div>
</section>
